fast-langdetect==1.0.0
lhotse==1.31.1
openai-whisper==20250625
pyutils @ git+https://github.com/iagocanalejas/pyutils.git@master
requests==2.32.5
sacremoses==0.1.1
sentencepiece==0.2.1
transformers==4.57.1
