name: vscript code quality
on: [push]
jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.13"]

        steps:
            - uses: actions/checkout@v5

            - name: Install FFmpeg & HandBrakeCLI
              if: runner.os == 'Linux'
              run: |
                  sudo apt-get update
                  sudo apt-get install -y ffmpeg handbrake-cli

            - name: Verify FFmpeg installation
              run: ffmpeg -version

            - name: Verify HandBrakeCLI installation
              run: HandBrakeCLI --version

            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v6
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Pre-commit checks
              uses: pre-commit/action@v3.0.1

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install pytest coverage
                  if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

            - name: Test package is installable
              run: pip install .

            - name: Pytest + code coverage
              run: |
                  TEST_ENV=true coverage run -m pytest && coverage report -m

            - name: Test coverage
              run: |
                  TEST_ENV=true coverage run --source=tests -m pytest &&
                  coverage report -m --fail-under=100
